* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}